@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --clr-primary-400: hsl(122, 10%, 49%);
  --clr-secondary-400: hsl(73, 25%, 70%);
  --clr-accent-100: hsl(36, 93%, 94%);
  --clr-primary-900: hsl(180, 35%, 16%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-size: 0.8rem;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  background: var(--clr-accent-100);
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

input::placeholder {
  color: inherit;
}

@media (min-width: 500px) {
  html {
    font-size: 1rem;
  }
}

.primary-heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.container {
  width: min(90%, 70rem);
  margin: 0 auto;
  padding: 2em 0.5em;
}

.tab-nav {
  --translate: attr(data-translate integer);
  display: flex;
  padding: 0.4em;
  text-align: center;
  position: relative;
  background-color: var(--clr-secondary-400);
  color: var(--clr-accent-100);
  font-weight: 700;
  border-radius: 2em;
  isolation: isolate;
  /* outline: 2px solid var(--clr-primary-900); */
  box-shadow: 1px 0px 8px 2px var(--clr-primary-900) inset;
}
.tab-slider {
  position: absolute;
  width: 20%;
  inset: 0;
  background-color: var(--clr-primary-900);

  border-radius: 2em;
  z-index: -1;
  box-shadow: -1px 0 4px 1px var(--clr-primary-900);
  transition: transform 200ms ease-in;
}
.tab-nav li {
  cursor: pointer;
  width: 20%;
  flex: 1 0;
  padding: 0.6em;
}

.tabs__panel {
  padding: 1em;
  /* border-inline: 2px solid var(--clr-primary-900); */
  /* border-bottom: 1px solid var(--clr-primary-900); */
  height: 100%;
}
.tabs-container {
  display: grid;
  gap: 1rem;
}

.status-code-block {
  padding: 0.5em;
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
  align-items: center;
  height: 20%;
}

.status-code-block button {
  padding: 0.5em;
  border-radius: 1em;
  outline: none;
  border: 2px solid var(--clr-primary-900);
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
}
.status-code-block button:hover,
.status-code-block button.active {
  background-color: var(--clr-primary-900);
  color: var(--clr-accent-100);
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: grid;
  transition: grid-template-rows 500ms;
  gap: 1rem;
}
